@font-face {
  font-family: "Norse";
  src: url(fonts/Norse-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.left-section {
  position: relative;
  width: 30vw;
  height: 100vh;
  margin: 0;
}

.left-section img {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30vw;
  height: 100vh;
}

.logo-container {
  font-family: "Norse", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -190%);
  background-color: rgb(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logo {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  transform: translate(0%, 0%);
}

#logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#logo-text {
  font-size: 6em;
  left: 100%;
  top: 15%;
  color: white;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5em;
  width: 100%;
  height: 40vh;
  background-color: rgb(245,245,245);;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 400px;
  padding-bottom: 50px;
}

.middle {
  width: 100%;
  height: 40vh;
  font-size: 1.5em;
  background-color: white;
  box-sizing: border-box;
  padding-left: 50px;
  padding-top: 20px;
}

.form {
  display: flex;
  align-items: flex-start;
}

.form form{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.6em;
  width: 500px;
  justify-content: left;
}

.form form p {
  margin-right: 50px;
}

input:focus {
  border-color: blue;
  border: 2px;
}

.bottom {
  width: 100%;
  height: 20vh;
  background-color: rgb(245,245,245);
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 50px;
}

.middle button {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(75, 83, 32);
  color: white;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}